* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: cornsilk;
    margin: 0 10px;
    max-width: 1500px;
}

.title-header {
    padding: 0;
    position: relative;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
}

.img-content {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 20px;
}

.img-content p {
    margin-left: 10px;
}
.img-perfil {
    width: 120px;
    height: 120px;
    border-radius: 5px;
}

.title-content {
    padding: 20px 0;
    text-align: center;
}

a {
    text-decoration: none;
    color:#4c4e58 ;
}

hr {
    height: 2px;
    background-color: #000;
}

.seccion {
    display: flex;
    flex-direction: column;
}
.seccion-item{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.seccion-descripcion {
    display: flex;
    flex-direction: row;
    width: 15%;
    margin-right: 0px;
}

.descripcion-item{
    margin-top: 10px;
}

.img-icon { /* Esto es para que las imagenes de los iconos tengan el mismo tamaño */
    width: 2vw;
    height: 2vw;
    vertical-align: middle;
}

.special-font { /* Esto es para que el texto sea más grande y en negrita */
    font-size: 1.5rem;
    font-weight: bold;
}

/* Cuando el dispositivo de salida sea una impresora */
@media print {

  /* Utilizar una regla parecida a ésta: */
  .ocultar-al-imprimir {
    display: none;
  }

  .title-header {
    padding: 0 20px;
    position: relative;
    width: 100vw;
    height: 130px;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
}

}

.nav-header {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    height: 35px;
    margin-bottom: 20px; /* Para centrar también verticalmente si el contenedor tiene altura */
    background-color: #333;
}

.nav {
    width: 100%;
    padding: 0px;
    text-align: left;
}

.nav a:hover {
    transition: 0.3s ease;
    background-color: #555;
}

ul, ol {
    list-style: none;
}

.nav li a {
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 5px 25px 5px 25px; 
    display: block;
    transition: 0.4s ease;
}
.nav > li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    z-index: 1;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li{
    position: relative;
    
}

.nav li ul li ul{
    top: 0px;
    left: 140px;
    border: 1px solid cornsilk;
}

/* ------------------------------------------RESPONSIVE------------------------------------------ */
@media (max-width: 450px){
    body {
        margin:  0 5px;
    }
    
    .img-content {
        display: none;
    }
    
    .img-content p {
        display: none;
    }
    .img-perfil {
        display: none;
    }
    .seccion-item{
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-bottom: 10px;
    }
    
    .seccion-descripcion {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-right: 0px;
    }
    
    .descripcion-item{
        margin-top: 10px;
        
    }
    
    .img-icon { /* Esto es para que las imagenes de los iconos tengan el mismo tamaño */
        width: 6vw;
        height: 6vw;
        vertical-align: bottom;
    }
    
    .special-font { /* Esto es para que el texto sea más grande y en negrita */
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .nav-header {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        width: 100%;
        height: 35px;
        margin-bottom: 20px; /* Para centrar también verticalmente si el contenedor tiene altura */
        background-color: #333;
        font-size: 3vw;
    } 
}